fastai==1.0.61
numpy==1.23.2
pandas==1.4.4
timm==0.6.12
opencv-python==4.7.0.68
opencv-contrib-python==4.4.0.46
pytorch-lightning==1.9.1
einops==0.3.0
open_clip_torch==2.0.2
omegaconf==2.1.1
transformers==4.19.2
xformers==0.0.16

# aria2c --console-log-level=error --summary-interval=10 --header=Authorization: Bearer  -c -x 16 -k 1M -s 16 -d models -o control_sd15_canny.pth https://huggingface.co/lllyasviel/ControlNet/resolve/main/models/control_sd15_canny.pth